body {
    background-color: rgb(10, 129, 10);
    color: white;
    font-family: "bai jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {

    background-color: #0e2a6b;
    color: white;
    font-family: "bai jamjuree",sans-serif;
}
.passo{
display: none;

}
.passo.ativo {
display: block;

}
main {
    text-align: center;
    max-width: 90%;
}
img {
    max-width: 90%;
}